Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all, run-site, run-devicecredential, run-discovery, run-inventory

final testing
  tests/integration/ccc_site_management/vars/vars_site_management.yml
Due: run-site

testing scheduled workflow
  .circleci/config.yml
Due: none

Adding fix for Stackswitch getting changed to normal switch post deiting the device's info
  plugins/modules/pnp_intent.py
  plugins/modules/pnp_workflow_manager.py
Due: none

Updated the changelog.yaml about the stackswitch getting converted to normal switch
  changelogs/changelog.yaml
Due: none

Update supported versions in README.md
  README.md
Due: none

scheduler added
  .circleci/config.yml
Due: none

test
  tests/integration/ccc_site_management/tests/test_site_management.yml
Due: run-site

test
  .circleci/config.yml
  tests/integration/ccc_site_management/vars/vars_site_management.yml
Due: run-site

test
  .circleci/config.yml
Due: none

Adding fix for nonetype error in global credentials
  playbooks/discovery_intent.yml
  playbooks/discovery_workflow_manager.yml
  plugins/modules/discovery_intent.py
  plugins/modules/discovery_workflow_manager.py
Due: run-discovery

Adding fix for nonetype error in global credentials
  plugins/modules/discovery_intent.py
  plugins/modules/discovery_workflow_manager.py
Due: run-discovery

Revert "add space after comma in playbook"
  playbooks/inventory_workflow_manager.yml
Due: none

Update supported versions and minimum Ansible requirement
  README.md
  changelogs/changelog.yaml
  galaxy.yml
  meta/runtime.yml
Due: none

Remove outdated Ansible versions from sanity_tests.yml
  .github/workflows/sanity_tests.yml
Due: none

swim distribution/activation flag added in begining
  plugins/modules/swim_intent.py
Due: none

change code to support python older versions
  plugins/modules/site_intent.py
  plugins/modules/site_workflow_manager.py
Due: run-site

fix the issue of updating management ip for device with snmp_version v2
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
Due: run-inventory

Fix the issue of Un-tagging image if it's inherited from parent site and return failed with log message, address review comments
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
  plugins/modules/swim_intent.py
  plugins/modules/swim_workflow_manager.py
Due: run-inventory

Add whitspaces after the while loop
  plugins/modules/swim_intent.py
  plugins/modules/swim_workflow_manager.py
Due: none

tests
  .circleci/config.yml
  tests/integration/ccc_device_credential_management/tests/test_assign_credentials.yml
  tests/integration/ccc_device_credential_management/tests/test_device_credential_management.yml
  tests/integration/ccc_discovery_management/tests/test_discovery_management.yml
  tests/integration/ccc_network_settings_management/tests/test.yml
Due: run-devicecredential, run-discovery

added pnp and network settings
  tests/integration/ccc_inventory_management/tests/test_inventory_management.yml
  tests/integration/ccc_network_settings_management/tests/test.yml
  tests/integration/ccc_network_settings_management/tests/test_network_settings_management.yml
  tests/integration/ccc_network_settings_management/vars/main.yml
  tests/integration/ccc_network_settings_management/vars/vars_network_setttings_management.yml
  tests/integration/ccc_pnp_management/defaults/main.yml
  tests/integration/ccc_pnp_management/meta/main.yml
  tests/integration/ccc_pnp_management/tasks/main.yml
  tests/integration/ccc_pnp_management/tests/test_pnp_management.yml
  tests/integration/ccc_pnp_management/vars/vars_pnp_management.yml
  tests/integration/ccc_swim_management/defaults/main.yml
  tests/integration/ccc_swim_management/meta/main.yml
  tests/integration/ccc_swim_management/tasks/main.yml
  tests/integration/ccc_swim_management/tests/test_swim_management.yml
  tests/integration/ccc_swim_management/vars/vars_swim_management.yml
Due: run-inventory

added pnp and network settings
  .circleci/config.yml
Due: none

Adding documentation for the EWLC template issue in CCC 235x
  plugins/modules/pnp_intent.py
  plugins/modules/pnp_workflow_manager.py
Due: none

Adding documentation for the EWLC template issue in CCC 235x
  plugins/modules/pnp_intent.py
Due: none

Add max timeout while checking the distribution/activation stautus of swim in order to avoid infinite loop
  plugins/modules/swim_intent.py
  plugins/modules/swim_workflow_manager.py
Due: none

Path conditions:
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
