Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all, run-site, run-devicecredential, run-discovery, run-inventory

Path conditions:
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)

Changes in discovery, site, swim and inventory workflow manager modules
  changelogs/changelog.yaml
  galaxy.yml
Due: none

Made the import project and export template/project work for the SDK
  plugins/modules/template_workflow_manager.py
Due: none

Addressed the review comments
  plugins/modules/template_workflow_manager.py
Due: none

Add danc_api_task_timeout, dnac_task_poll_interval options into workflow_params and intent_params.py file
  plugins/doc_fragments/intent_params.py
  plugins/doc_fragments/workflow_manager_params.py
  plugins/modules/swim_intent.py
  plugins/modules/swim_workflow_manager.py
Due: none

add danc_api_task_timeout, dnac_task_poll_interval parameter in the argument specs of all modules
  plugins/modules/device_credential_intent.py
  plugins/modules/device_credential_workflow_manager.py
  plugins/modules/discovery_intent.py
  plugins/modules/discovery_workflow_manager.py
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
  plugins/modules/network_settings_intent.py
  plugins/modules/network_settings_workflow_manager.py
  plugins/modules/pnp_intent.py
  plugins/modules/pnp_workflow_manager.py
  plugins/modules/provision_intent.py
  plugins/modules/provision_workflow_manager.py
  plugins/modules/site_intent.py
  plugins/modules/site_workflow_manager.py
  plugins/modules/template_intent.py
  plugins/modules/template_workflow_manager.py
Due: run-site, run-devicecredential, run-discovery, run-inventory

Added attributes in inventory manager module
  changelogs/changelog.yaml
Due: none

Changes in workflow manager modules
  playbooks/swim_workflow_manager.yml
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
Due: run-inventory

Changing danc into dnac
  changelogs/changelog.yaml
  playbooks/swim_workflow_manager.yml
  plugins/doc_fragments/intent_params.py
  plugins/doc_fragments/workflow_manager_params.py
  plugins/modules/device_credential_intent.py
  plugins/modules/device_credential_workflow_manager.py
  plugins/modules/discovery_intent.py
  plugins/modules/discovery_workflow_manager.py
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
  plugins/modules/network_settings_intent.py
  plugins/modules/network_settings_workflow_manager.py
  plugins/modules/pnp_intent.py
  plugins/modules/pnp_workflow_manager.py
  plugins/modules/provision_intent.py
  plugins/modules/provision_workflow_manager.py
  plugins/modules/site_intent.py
  plugins/modules/site_workflow_manager.py
  plugins/modules/swim_intent.py
  plugins/modules/swim_workflow_manager.py
  plugins/modules/template_intent.py
  plugins/modules/template_workflow_manager.py
Due: run-site, run-devicecredential, run-discovery, run-inventory

Remove dnac_api_task_timeout, dnac_task_poll_interval options from the documentation of swim module, Remove the flag device_updated from the inventory module and playbook
  playbooks/inventory_workflow_manager.yml
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
  plugins/modules/swim_intent.py
  plugins/modules/swim_workflow_manager.py
Due: run-inventory

remove extra line
  plugins/modules/inventory_intent.py
Due: none

Update log messages for update operation if device not found
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
Due: run-inventory

Adding fix for intermittent failure of Discovery
  playbooks/discovery_intent.yml
  playbooks/discovery_workflow_manager.yml
  plugins/modules/discovery_intent.py
  plugins/modules/discovery_workflow_manager.py
Due: run-discovery

pnp ITs
  .circleci/config.yml
  tests/integration/ccc_pnp_management/tests/test_pnp_management.yml
  tests/integration/ccc_pnp_management/vars/vars_pnp_management.yml
Due: none

swim changes
  tests/integration/ccc_swim_management/vars/vars_swim_management.yml
Due: none

final testing
  tests/integration/ccc_device_credential_management/tests/test_assign_credentials.yml
  tests/integration/ccc_device_credential_management/tests/test_device_credential_management.yml
  tests/integration/ccc_device_credential_management/vars/vars_assign_credentials.yml
  tests/integration/ccc_discovery_management/tests/test_discovery_management.yml
  tests/integration/ccc_inventory_management/tests/test_inventory_management.yml
  tests/integration/ccc_inventory_management/vars/vars_inventory_management.yml
  tests/integration/ccc_network_settings_management/defaults/main.yml
  tests/integration/ccc_network_settings_management/meta/main.yml
  tests/integration/ccc_network_settings_management/tasks/main.yml
  tests/integration/ccc_network_settings_management/tests/test_network_settings_management.yml
  tests/integration/ccc_network_settings_management/vars/vars_network_setttings_management.yml
  tests/integration/ccc_pnp_management/defaults/main.yml
  tests/integration/ccc_pnp_management/meta/main.yml
  tests/integration/ccc_pnp_management/tasks/main.yml
  tests/integration/ccc_pnp_management/tests/test_pnp_management.yml
  tests/integration/ccc_pnp_management/vars/vars_pnp_management.yml
  tests/integration/ccc_site_management/tests/test_site_management.yml
  tests/integration/ccc_site_management/vars/vars_site_management.yml
  tests/integration/ccc_swim_management/tests/test_swim_management.yml
  tests/integration/ccc_swim_management/vars/vars_swim_management.yml
Due: run-site, run-devicecredential, run-discovery, run-inventory

Added the op_modifies=True for turning off the active validation and changed the result structure
  playbooks/template_workflow_manager.yml
  plugins/modules/template_workflow_manager.py
Due: none

resolved the sanity error
  plugins/modules/template_workflow_manager.py
Due: none

Resolved the sanity error
  playbooks/template_workflow_manager.yml
Due: none

Adding method to check valid ip address
  plugins/module_utils/dnac.py
  plugins/modules/discovery_intent.py
  plugins/modules/discovery_workflow_manager.py
Due: run-all, run-discovery

Adding method to check valid ip address
  plugins/modules/discovery_intent.py
  plugins/modules/discovery_workflow_manager.py
Due: run-discovery

clean up
  tests/integration/ccc_device_credential_management/vars/vars_assign_credentials.yml
  tests/integration/ccc_inventory_management/vars/vars_inventory_management.yml
  tests/integration/ccc_site_management/vars/vars_site_management.yml
  tests/integration/ccc_swim_management/vars/vars_swim_management.yml
Due: run-site, run-devicecredential, run-inventory

fix the issue of key error building while creating other type of site
  plugins/modules/site_intent.py
  plugins/modules/site_workflow_manager.py
Due: run-site

Enhance log message for area and floor site
  plugins/modules/site_intent.py
  plugins/modules/site_workflow_manager.py
Due: run-site

Added the op_modifies=True to all the SDK calls which take an input payload
  plugins/modules/device_credential_intent.py
  plugins/modules/device_credential_workflow_manager.py
  plugins/modules/network_settings_intent.py
  plugins/modules/network_settings_workflow_manager.py
  plugins/modules/template_intent.py
  plugins/modules/template_workflow_manager.py
Due: run-devicecredential

Resolved the sanity errors
  plugins/modules/device_credential_intent.py
  plugins/modules/device_credential_workflow_manager.py
  plugins/modules/ise_radius_integration_workflow_manager.py
  plugins/modules/network_settings_intent.py
  plugins/modules/network_settings_workflow_manager.py
  plugins/modules/template_intent.py
Due: run-devicecredential

Removed the ise_radius_integration_workflow_manager.py
  plugins/modules/ise_radius_integration_workflow_manager.py
Due: none

pnp IT changes
  .circleci/config.yml
  tests/integration/ccc_pnp_management/tests/test_pnp_management.yml
  tests/integration/ccc_pnp_management/vars/vars_pnp_management.yml
Due: none

Adding method to check valid ip address
  plugins/module_utils/dnac.py
Due: run-all

final testing
  tests/integration/ccc_inventory_management/tests/test_inventory_management.yml
  tests/integration/ccc_inventory_management/vars/vars_inventory_management.yml
  tests/integration/ccc_swim_management/tests/test_swim_management.yml
Due: run-inventory

pnp update
  tests/integration/ccc_device_credential_management/tests/test_assign_credentials.yml
  tests/integration/ccc_device_credential_management/tests/test_device_credential_management.yml
  tests/integration/ccc_device_credential_management/vars/vars_assign_credentials.yml
  tests/integration/ccc_discovery_management/tests/test_discovery_management.yml
  tests/integration/ccc_discovery_management/vars/vars_misc.yml
  tests/integration/ccc_inventory_management/tests/test_inventory_management.yml
  tests/integration/ccc_inventory_management/vars/vars_inventory_management.yml
  tests/integration/ccc_network_settings_management/defaults/main.yml
  tests/integration/ccc_network_settings_management/meta/main.yml
  tests/integration/ccc_network_settings_management/tasks/main.yml
  tests/integration/ccc_network_settings_management/tests/test_network_settings_management.yml
  tests/integration/ccc_network_settings_management/vars/vars_network_setttings_management.yml
  tests/integration/ccc_pnp_management/tests/test_pnp_management.yml
  tests/integration/ccc_pnp_management/vars/vars_pnp_management.yml
  tests/integration/ccc_site_management/tests/test_site_management.yml
  tests/integration/ccc_site_management/vars/vars_site_management.yml
  tests/integration/ccc_swim_management/tests/test_swim_management.yml
  tests/integration/ccc_swim_management/vars/vars_swim_management.yml
Due: run-site, run-devicecredential, run-discovery, run-inventory

pnp claim IT
  .circleci/config.yml
  tests/integration/ccc_pnp_management/tests/test_pnp_management.yml
Due: none

modified run-all
  .circleci/config.yml
Due: none

final testing
  tests/integration/ccc_device_credential_management/tests/test_assign_credentials.yml
  tests/integration/ccc_device_credential_management/tests/test_device_credential_management.yml
  tests/integration/ccc_discovery_management/tests/test_discovery_management.yml
  tests/integration/ccc_inventory_management/tests/test_inventory_management.yml
  tests/integration/ccc_site_management/tests/test_site_management.yml
  tests/integration/ccc_swim_management/tests/test_swim_management.yml
Due: run-site, run-devicecredential, run-discovery, run-inventory

final testing
  .circleci/config.yml
  tests/integration/ccc_discovery_management/tests/test_discovery_management.yml
  tests/integration/ccc_inventory_management/tests/test_inventory_management.yml
  tests/integration/ccc_swim_management/tests/test_swim_management.yml
Due: run-discovery, run-inventory

final testing
  .circleci/config.yml
  tests/integration/ccc_device_credential_management/tests/test_assign_credentials.yml
  tests/integration/ccc_device_credential_management/tests/test_device_credential_management.yml
  tests/integration/ccc_discovery_management/tests/test_discovery_management.yml
  tests/integration/ccc_inventory_management/tests/test_inventory_management.yml
  tests/integration/ccc_site_management/tests/test_site_management.yml
  tests/integration/ccc_swim_management/tests/test_swim_management.yml
Due: run-site, run-devicecredential, run-discovery, run-inventory
