Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all, run-site, run-devicecredential, run-discovery, run-inventory

Path conditions:
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)

testing path filtering
  .circleci/config.yml
  tests/integration/ccc_site_management/vars/vars_site_management.yml
Due: run-site

testing path filtering
  .circleci/config.yml
Due: none

testing integration tests
  tests/integration/ccc_site_management/vars/vars_site_management.yml
Due: run-site

Integration Tests
  .circleci/config.yml
  tests/integration/ccc_device_credential_management/vars/vars_assign_credentials.yml
  tests/integration/ccc_discovery_management/vars/vars_discovery_management.yml
  tests/integration/ccc_inventory_management/vars/vars_inventory_management.yml
Due: run-devicecredential, run-discovery, run-inventory

Integration Tests
  .circleci/config.yml
  tests/integration/ccc_device_credential_management/vars/vars_assign_credentials.yml
  tests/integration/ccc_discovery_management/vars/vars_discovery_management.yml
  tests/integration/ccc_inventory_management/vars/vars_inventory_management.yml
  tests/integration/ccc_site_management/vars/vars_site_management.yml
Due: run-site, run-devicecredential, run-discovery, run-inventory

Integration Tests
  tests/integration/ccc_device_credential_management/vars/vars_assign_credentials.yml
Due: run-devicecredential

Integration tests
  .circleci/config.yml
  tests/integration/ccc_device_credential_management/vars/vars_assign_credentials.yml
Due: run-devicecredential

integration tests
  .circleci/config.yml
  tests/integration/ccc_device_credential_management/vars/vars_assign_credentials.yml
Due: run-devicecredential

Fixed the language enum check for the name instead of language
  plugins/modules/template_intent.py
  plugins/modules/template_workflow_manager.py
Due: none

integraiton tests
  .circleci/config.yml
Due: none
