Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all, run-site, run-devicecredential, run-discovery, run-inventory

inventory bug test
  .circleci/config.yml
  tests/integration/ccc_discovery_management/vars/vars_discovery_management.yml
  tests/integration/ccc_inventory_management/tests/test_inventory_management.yml
  tests/integration/ccc_swim_management/tests/test_swim_management.yml
Due: run-discovery, run-inventory

test inventory bug
  tests/integration/ccc_inventory_management/tests/test_inventory_management.yml
Due: run-inventory

testing swim
  tests/integration/ccc_swim_management/tests/test_swim_management.yml
Due: none

final testing
  .circleci/config.yml
  tests/integration/ccc_discovery_management/vars/vars_discovery_management.yml
  tests/integration/ccc_inventory_management/tests/test_inventory_management.yml
  tests/integration/ccc_swim_management/tests/test_swim_management.yml
Due: run-discovery, run-inventory

fixing sanity bugs
  tests/integration/ccc_discovery_management/vars/vars_discovery_management.yml
  tests/integration/ccc_inventory_management/vars/vars_inventory_management.yml
Due: run-discovery, run-inventory

sanity test bug fixes
  tests/integration/ccc_device_credential_management/tests/test_assign_credentials.yml
  tests/integration/ccc_device_credential_management/vars/vars_assign_credentials.yml
  tests/integration/ccc_discovery_management/vars/vars_misc.yml
Due: run-devicecredential, run-discovery

changes to inventory IT post latet changes merge
  tests/integration/ccc_inventory_management/tests/test_inventory_management.yml
  tests/integration/ccc_inventory_management/vars/vars_inventory_management.yml
Due: run-inventory

reduced retry and timeout
  tests/integration/ccc_discovery_management/vars/vars_discovery_management.yml
Due: run-discovery

inventory IT changes
  tests/integration/ccc_inventory_management/vars/vars_inventory_management.yml
Due: run-inventory

inventory IT changes
  tests/integration/ccc_inventory_management/tests/test_inventory_management.yml
Due: run-inventory

integration tests
  tests/integration/ccc_inventory_management/tests/test_inventory_management.yml
  tests/integration/ccc_inventory_management/vars/vars_inventory_management.yml
Due: run-inventory

Add op_modifies=True in Site, SWIM and Inventory workflow as well as in intent modules
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
  plugins/modules/site_intent.py
  plugins/modules/site_workflow_manager.py
  plugins/modules/swim_intent.py
  plugins/modules/swim_workflow_manager.py
Due: run-site, run-inventory

Making OP_modifies as true
  playbooks/PnP.yml
  playbooks/PnP_Workflow_Manager_Playbook.yml
  playbooks/device_provision_workflow.yml
  plugins/modules/discovery_intent.py
  plugins/modules/discovery_workflow_manager.py
  plugins/modules/pnp_intent.py
  plugins/modules/pnp_workflow_manager.py
  plugins/modules/provision_intent.py
  plugins/modules/provision_workflow_manager.py
Due: run-discovery

Making OP_modifies as true
  playbooks/PnP.yml
Due: none

pnp test case added
  .circleci/config.yml
  tests/integration/ccc_device_credential_management/tests/test_assign_credentials.yml
  tests/integration/ccc_discovery_management/tests/test_discovery_management.yml
  tests/integration/ccc_discovery_management/vars/vars_discovery_management.yml
  tests/integration/ccc_swim_management/tests/test_swim_management.yml
  tests/integration/ccc_swim_management/vars/vars_swim_management.yml
Due: run-devicecredential, run-discovery

added pnp ITs
  tests/integration/ccc_inventory_management/tests/test_inventory_management.yml
  tests/integration/ccc_inventory_management/vars/vars_inventory_management.yml
  tests/integration/ccc_pnp_management/tests/test_pnp_management.yml
  tests/integration/ccc_pnp_management/vars/vars_pnp_management.yml
Due: run-inventory

pnp ITs
  .circleci/config.yml
  tests/integration/ccc_pnp_management/tests/test_pnp_management.yml
Due: none

commented pnp test
  .circleci/config.yml
  tests/integration/ccc_pnp_management/tests/test_pnp_management.yml
Due: none

commented pnp test
  tests/integration/ccc_pnp_management/tests/test_pnp_management.yml
Due: none

Changes in workflow manager modules
  changelogs/changelog.yaml
Due: none

Updating galaxy and changelog files
  changelogs/changelog.yaml
  galaxy.yml
Due: none

Added the new feature for importing a template using JSON file
  playbooks/device_details.template
  playbooks/template_workflow_manager.yml
  plugins/module_utils/dnac.py
  plugins/modules/template_workflow_manager.py
Due: run-all

Resolved the sanity errors
  playbooks/device_details.template
  playbooks/template_workflow_manager.yml
Due: none

Resolved the sanity errors
  playbooks/device_details.template
Due: none

Resovlved the sanity errors
  playbooks/device_details.template
Due: none

Addressed the review comments
  plugins/module_utils/dnac.py
  plugins/modules/template_workflow_manager.py
Due: run-all

Addressed the review comments
  plugins/modules/template_workflow_manager.py
Due: none

Addressed the review commets
  plugins/modules/template_workflow_manager.py
Due: none

- Updating galaxy.yml ansible.utils dependencies.
  changelogs/changelog.yaml
  galaxy.yml
Due: none

Fix the issue of while editing device, 'snmp_rw_community' param is automatically removed
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
Due: run-inventory

Explained the documentation clearly
  plugins/modules/template_workflow_manager.py
Due: none

update log message for interface id
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
Due: run-inventory

update data type of the parameter serial_number_list
  plugins/modules/inventory_workflow_manager.py
Due: run-inventory

Path conditions:
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
