Repository cisco-en-programmability/dnacenter-ansible: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-all, run-site, run-devicecredential, run-discovery, run-inventory

Addressed the PR comments
  plugins/modules/template_intent.py
  plugins/modules/template_workflow_manager.py
Due: none

Addressed the review comments
  plugins/modules/template_intent.py
  plugins/modules/template_workflow_manager.py
Due: none

Handle the case if site name is not given then will site name as “Global” and fetch all devices under Global for getting device_uuid_list for swim distribute/activate operation.
  plugins/modules/swim_intent.py
  plugins/modules/swim_workflow_manager.py
Due: none

remove unused import json and debugger
  plugins/modules/swim_intent.py
  plugins/modules/swim_workflow_manager.py
Due: none

Adding the feature of non-mandatory global credentials
  playbooks/discovery_intent.yml
  playbooks/discovery_workflow_manager.yml
  plugins/modules/discovery_intent.py
  plugins/modules/discovery_workflow_manager.py
Due: run-discovery

Adding the feature of non-mandatory global credentials
  plugins/modules/discovery_intent.py
  plugins/modules/discovery_workflow_manager.py
Due: run-discovery

updated log messages for swim
  plugins/modules/swim_intent.py
  plugins/modules/swim_workflow_manager.py
Due: none

add space after comma in playbook
  playbooks/inventory_workflow_manager.yml
Due: none

Changing the module name
  plugins/modules/discovery_workflow_manager.py
Due: run-discovery

Integration tests
  tests/integration/ccc_discovery_management/vars/vars_discovery_management.yml
  tests/integration/ccc_inventory_management/tests/test_inventory_management.yml
  tests/integration/ccc_inventory_management/vars/vars_inventory_management.yml
Due: run-discovery, run-inventory

integration tests
  tests/integration/ccc_inventory_management/tests/test_inventory_management.yml
  tests/integration/ccc_inventory_management/vars/vars_inventory_management.yml
Due: run-inventory

path filtering tests
  .circleci/config.yml
Due: none

integration tests
  .circleci/config.yml
Due: none

testing path filtering
  .circleci/config.yml
  tests/integration/ccc_site_management/vars/vars_site_management.yml
Due: run-site

integration tests
  .circleci/config.yml
  tests/integration/ccc_device_credential_management/tests/test_assign_credentials.yml
  tests/integration/ccc_device_credential_management/tests/test_device_credential_management.yml
  tests/integration/ccc_discovery_management/tests/test_discovery_management.yml
  tests/integration/ccc_inventory_management/tests/test_inventory_management.yml
  tests/integration/ccc_site_management/tests/test_site_management.yml
Due: run-site, run-devicecredential, run-discovery, run-inventory

path filtering testing
  .circleci/config.yml
  tests/integration/ccc_site_management/vars/vars_site_management.yml
Due: run-site

Changed the documentation as per the guidelines
  changelogs/changelog.yaml
  plugins/modules/discovery_intent.py
  plugins/modules/discovery_workflow_manager.py
  plugins/modules/inventory_intent.py
  plugins/modules/inventory_workflow_manager.py
  plugins/modules/swim_intent.py
  plugins/modules/swim_workflow_manager.py
Due: run-discovery, run-inventory

Changing the version
  galaxy.yml
Due: none

path filtering changes
  .circleci/config.yml
Due: none

path mapping tests
  .circleci/config.yml
  tests/integration/ccc_inventory_management/vars/vars_inventory_management.yml
Due: run-inventory

path mapping tests
  .circleci/config.yml
  tests/integration/ccc_site_management/vars/vars_site_management.yml
Due: run-site

path mapping tests
  .circleci/config.yml
Due: none

path filtering
  .circleci/config.yml
Due: none

Path conditions:
  run-all: any of: plugins/module_utils/.*
  run-site: (any of: plugins/modules/site_workflow_manager.py) or (any of: tests/integration/ccc_site_management/.*)
  run-devicecredential: (any of: plugins/modules/device_credential_workflow_manager.py) or (any of: tests/integration/ccc_device_credential_management/.*)
  run-discovery: (any of: plugins/modules/discovery_workflow_manager.py) or (any of: tests/integration/ccc_discovery_management/.*)
  run-inventory: (any of: plugins/modules/inventory_workflow_manager.py) or (any of: tests/integration/ccc_inventory_management/.*)
